# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/utilities/firebase.js
.firebase/hosting.cHVibGlj.cache
public/index.html
public/assets/color.7d22b18d.js
public/assets/color.c4b580f1.css
public/assets/download.2ff73805.js
public/assets/download.77760626.css
public/assets/firebase.77a03ef1.png
public/assets/github.e593e449.png
public/assets/index.3b4a9357.js
public/assets/index.32b4f76c.js
public/assets/index.316e2da0.css
public/assets/index.868a3a71.css
public/assets/logged.a51f3099.js
public/assets/logged.d38fcdb1.js
public/assets/login.0b35ce4c.js
public/assets/login.2ac3f1f3.js
public/assets/Memo.1da4eb45.js
public/assets/Memo.b5a05917.js
public/assets/register.743f4fc9.js
public/assets/register.f20e01d5.js
public/assets/text.b3a6d360.css
public/assets/text.c107091f.js
public/assets/tools-handler.3de535c6.css
public/assets/tools-handler.b9110e5e.js
public/assets/vuejs.9c4b4b9a.png
